

@keyframes medium { 
  from {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
  }
  to {
    -webkit-transform: rotate(10deg);
    transform:rotate(10deg);
  }
}

@keyframes github { 
  from {
  }
  to {
  }
}

@keyframes zoom { 
  from {
  }
  to {
  }
}
