<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<div id="background">
  <div id="logo">
    <h1>dev360</h1>
  </div>
  <div id="avatar">
  </div>
  <div id="canvas">
  </div>
  <div id="container">
  </div>
</div>
  <% include ../partials/scripts.ejs %>
</body>
</html>
